<p>Welcome <%= @resource.email %>!</p>


<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<h3>After confirming email, please change your password!</h3>
<p><%= link_to "Change your password", edit_user_registration_url %></p>

