<h2>Contacts</h2>
<p align="center"><b>Phone number:</b> +48 5 55 55555</p>
<p align="center"><b>You can find us in:</b><address align="center">Adelaide st. 45</address></p>
<%= image_tag("map.jpg",  alt: "Location", id: "map") %>