<h2>Brand story</h2>
<p align="justify">&nbsp &nbsp &nbsp &nbsp Your clothes are the closest thing to you. From the moment you put them on, the feeling of fabric against your skin is an essential part of your day.
  That’s why we believe in clothes that keep you looking and feeling your best, all day long. No rough stitching. No itchy fabrics. No uncomfortable seams.
  Just pure comfort. You shouldn’t have to sacrifice your senses to express your style – so why settle for anything less?</p>
<p align="justify">&nbsp &nbsp &nbsp &nbsp For over 50 years, we’ve been developing what we call the Sensology of Wear. Each of our collections begins in the laboratory.
  Starting with the finest yarns, we create luxurious, high-performance fabrics from Merino wool, Modal, silk and cotton.
  Then we enrich them using innovative techniques to keep you comfortable and feeling fresh.</p>
<p align="justify">&nbsp &nbsp &nbsp &nbsp Natural beeswax soothes the skin, aloe vera moisturizes it, silk proteins enhance its softness and silver ions provide long-lasting protection against bacteria.
  Every inch of our clothing is designed to delight your senses. Inspired by comfort, perfected by science. That’s the Sensology of Wear.
</p>
