<h2>Hoodies gallery</h2>
<p>Each product is original and completely chosen by the customer. Our technology relies on two main objects - choosing a hoodie and designing details on it.
  <br>
  <br>
  <br>
</p>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= image_tag ("#{product.image}"), width:"200px"%>
      <p><%= product.name %></p>
    </li>
  <% end %>
</ul>